/* ===========================

  TABLE OF CONTENT

  1) GLOBAL STYLES
  2) TYPOGRAPHY
  3) COMPONENTS
    - buttons
    - navbar
    - cards
    - forms
    - footer

  4) LAYOUTS

   =========================== */

/* *****************
    GLOBAL STYLES
    ***************** */

/* *****************
    TYPOGRAPHY
    ***************** */

/* *****************
    COMPONENTS
    ***************** */

/* navbar */
nav#navbar {
	background: black;
	padding: 10px 20px;
}

nav#navbar ul {
	list-style-type: none;
	margin: 0;
    color: white;
    overflow: hidden;
}

nav#navbar ul li {
	float: left;
}

nav#navbar ul li a {
	color: red;
}

nav#navbar ul li#navbar-title {
    float: right;
}

nav#navbar ul li#navbar-title a {
    color: white;
    font-weight: bold;
}

/* buttons */

/* cards */

/* forms */

/* footer */

/* *****************
    LAYOUTS
    ***************** */
