/* ===========================

  TABLE OF CONTENT

  1) GLOBAL STYLES
  2) TYPOGRAPHY
  3) COMPONENTS
    - buttons
    - navbar
    - cards
    - forms
    - footer

  4) LAYOUTS

   =========================== */



 /* *****************
    GLOBAL STYLES
    ***************** */




 /* *****************
    TYPOGRAPHY
    ***************** */




 /* *****************
    COMPONENTS
    ***************** */

    /* navbar */
    header {
    font-weight: bold;
}

.searchbox {
    float: right;
    padding: 5px;
    margin: 10px 10px;
    width: 200px;
}

.headerlogo {
    float: left;
    margin-right: 10px;
}

    .headerlogo > img {
        height: 100px;
        width: 100px;
    }

#headername {
    font-size: 40px;
    /*text-shadow: 5px 5px 5px #5f2c17;*/
    color: blue;
    padding: 15px;
    margin: 8px 0px;s
    font-weight: bold;
}
nav {
    height: 45px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 20px;
    padding-left: 5px;
}
    nav ul {
        list-style: none;
        padding: 0px;
    }
  nav ul li {
            display: block;
        }
.navlink {
    height: 40px;
    margin-right: 10px;
    font-size: 18px;
    float: left;
    padding-top: 12px;
    text-decoration: none;
}

    .navlink.active {
    }

    /* buttons */

    /* cards */

    /* forms */

    /* footer */


 /* *****************
    LAYOUTS
    ***************** */
