h3{
    line-height: 2.5;
    font-size: 1.5rem;
    font-weight: 400;
}

.f{
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
}
.f2{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
}

.f3{
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
}

.job-info > span{
    padding:0 1.5rem
}

.job-header{
	position:relative;
	display: inline-flex;
}
.company-logo-container{
	max-height: 80px;
	max-height: 80px;
	justify-content: center;
}
.company-logo{
	border-radius:50%; 
	overflow: hidden;
}

.company-logo > a {
	top:50%; left:50%
}

.company-logo > a > img {
	max-height: 100px
}
.short-summary{
	vertical-align: middle;
	line-height: 21px;
	padding: 10px;
}

.overview-item{
    display: list-item;
}
.overview-body{
    display: grid;
}
