body{
	font-family: Roboto,sans-serif;
	color: #4e5559;
}

/*************************** JOB CARD ************************/
.job_card{
	font-size: .875rem;
	margin-bottom: 2rem;
	box-shadow: 2px 4px 5px #888888;
}

.job_summary{
	position:relative;
	display: inline-flex;
}
.company_logo_container{
	max-height: 80px;
	max-height: 80px;
	justify-content: center;
}

.job_title{
	line-height: 1.625rem; 
	margin: 6px 0px; 
	font-size:1.125rem; 
	font-weight: bold;
}
.company_name{
	font-size: .875rem;
}

.job_function{
	text-align:left; width: 50%; 
	font-size: .875rem; 
	line-height: 1.5rem;
}

.divider{
	padding:0px 5px;
}

.company_logo.{
	border-radius:50%; 
	overflow: hidden;
}

.company_logo > a {
	top:50%; left:50%
}

.company_logo > a > img {
	max-height: 80px; 
	max-height: 80px
}
.short_summary{
	vertical-align: middle;
	line-height: 21px;
	padding: 20px;
}

/*************************** ./JOB CARD ******************************/