.job-listing {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 2rem 2rem;
}

.job-listing_organize {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.12rem solid;
    border-radius: 1rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-top: 4rem;
    width: 20%;
}

.job-listing_organize__ordering {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0.7rem 0.7rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.job-listing_organize__ordering_option {
    border: 0.1rem solid;
    border-radius: 0.12rem;
    padding: 0.5rem;
    text-align: center;
}

.job-listing_organize__titles {
    color: #0091ea;
    width: 50%;
    text-align: center;
}

.job-listing_organize__titles h4 {
    margin-bottom: 0.5rem;
    border-bottom: 0.12rem solid #0091ea;
}

.job-listing_organize__filters {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0.7rem 0.7rem;
    margin-top: 0.5rem;
    text-align: center;
}

.job-listing_organize__filters_option {
    border: 0.1rem solid;
    border-radius: 0.12rem;
    padding: 0.5rem;
    text-align: center;
}

.job-listing_jobs {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    /* width: 75%; */
}

.job-listing_jobs__featured {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.job-listing_jobs__featured_title {
    text-align: center;
}

.job-listing_jobs__featured_job {
    display: flex;
    flex-direction: column;
    /* width: 60%; */
    border: 0.12rem solid;
    padding: 1rem;
    margin: 0.5rem 0;
}

.job-listing_jobs__details {
    width: 100%;
    border-bottom: 0.12rem solid;
}

.job-listing_jobs__details__time {
    display: flex;
}

.job-listing_jobs__details__time span{
    text-align: center;
}

.job-listing_jobs__details__time img {
    width: 5%;
}

.job-listing_jobs__description {
    display: flex;
}

.job-listing_jobs__description_image {
    width: 10%;
    background-color: #9e9e9e;
    border: 0.12rem solid #ea80fc;
    border-radius: 50%;
    padding: 0.6rem;
    margin: 0.7rem 0.7rem 0;
}

.job-listing_jobs__description_details {
    margin-top: 1rem;
    margin-left: 0.5rem;
    border-left: 0.12rem solid;
}

.job-listing_jobs__description_details p {
    padding: 1rem;
}

.job-listing_jobs__description_image img {
    width: 100%;
}

.job-listing_jobs__others {
    display: flex;
    flex-direction: column;
}