.service-overview {
  background: #40c4ff;
  padding: 0.62rem;
  height: 28vh;
  position: relative;
}

.service-overview::after {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background: #ea80fc; */
  background: url('/images/wave(2).svg');
  background-size: cover;
  background-repeat: no-repeat;
  content: '';
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform-origin: bottom;
  animation: animateWave 7000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

@keyframes animateWave {
  0% {
    transform: scale(1,0);
  }
  100% {
    transform: scale(1,1);
  }
}

